:root {
  --serif: Alice, serif;
  --title: Playfair Display, serif;
  --font-size: 1.3rem;
  --background: #e0e5e8;
  --primary: #3d6b85;
  --secondary: #b0c9d9;
  --accent-1: #6fa1a6;
  --accent-2: #b54a39;
  --text: #262626;
  --deep-yellow: #d19a1c;
  --coral: #ef9887;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--serif);
  background-color: var(--background);
  color: var(--text);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--accent-1);
  text-decoration: none;
}

/*Navbar Styles*/

nav {
  font-family: var(--serif);
  font-size: 90%;
  padding: 2rem 2rem;
  text-align: center;
}

nav [class*='fa-'] {
  font-size: 150%;
  color: var(--accent-1);
}

nav h1 [class*='fa-'] {
  font-size: 100%;
  color: var(--accent-1);
}

nav h1 a {
  font-family: var(--serif);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav li:first-child:hover {
  transform: scale(1.05);
}

nav a {
  color: var(--text);
  text-decoration: none;
  display: block;
}

#language-switcher {
  cursor: pointer;
}

.flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  object-fit: cover;
}

.flag:hover {
  box-shadow: 0 0 10px 2px rgba(56, 56, 56, 0.279);
}

.button {
  background-color: var(--accent-1);
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: white;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.05);
  color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

/* Reset <select> defaults */
select {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: min(6rem, 90vw);
  background: var(--accent-1);
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
  select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
  }
  &::after {
    content: '\25BC';
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    transition: 0.25s all ease;
    pointer-events: none;
  }
  &:hover::after {
    color: #f39c12;
    animation: bounce 0.5s infinite;
  }
}
@keyframes bounce {
  25% {
    transform: translatey(2px);
  }
  75% {
    transform: translatey(-2px);
  }
}

/* intro style */

#intro {
  padding: 4rem 2rem 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
.name span {
  font-size: 4rem;
  color: var(--primary);
  display: block;
  font-family: var(--title);
  margin-bottom: 1.5rem;
}

#intro h2 {
  font-size: 2.7rem;
  font-weight: normal;
}

/* Projects styles */

#projects-back {
  background-color: var(--accent-1);
}

#projects {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects a {
  color: var(--background);
  text-decoration: none;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--background);
}

.project-title-reverse {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--background);
  justify-content: flex-start;
}

article {
  align-items: center;
  margin-bottom: 1rem;
}

#projects h2 {
  font-family: var(--title);
  font-size: 2.5rem;
  margin-bottom: calc(2rem * 1.5);
  color: var(--background);
}

#projects h3 {
  color: var(--background);
  font-family: var(--title);
  font-size: 2rem;
}

#projects h4 {
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
  line-height: 0.5;
  font-style: italic;
}

.blackbox {
  background-color: var(--background);
  padding: 1rem;
  border-radius: 10px;
  color: var(--text);
  font-size: 1rem;
  box-shadow: 0 0 5px 2px rgba(0, 10, 10, 0.5);
  transition: all 0.4s ease-in-out;
}

#projects img {
  margin: 2rem 0;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#projects img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#projects .reverse .text {
  order: 1;
  text-align: left;
  grid-column: 1/7;
}

#projects .reverse img {
  grid-column: 6/11;
}

#projects .reverse ul {
  justify-content: start;
}

/*Contact styles*/

.section-back {
  background-color: var(--deep-yellow);
}

#contact {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 2rem;
  color: white;
}

#contact h2 {
  font-family: var(--title);
  color: white;
}

#contact .button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  color: var(--text);
  border: black solid 2px;
}

#contact .button:hover {
  background-color: var(--secondary);
  color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

/* Container for the gradient line */
.gradient {
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--primary) 0%,
    violet 50%,
    var(--accent-1) 100%
  );
  background-size: 300% 100%;
  animation: gradient-animation 5s ease-in-out infinite;
}

/* Animation for the gradient */
@keyframes gradient-animation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*Footer styles*/

#footer {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 2rem;
}

#footer h2 {
  font-family: var(--title);
  font-size: 2.5rem;
}

#footer ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

#footer li [class*='fa-'] {
  font-size: 3rem;
  color: var(--primary);
}

#footer li [class*='fa-']:hover {
  color: var(--secondary);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
  }
  .text {
    order: 2;
    grid-column: 5/11;
    grid-row: 1/2;
    text-align: right;
  }

  .project-title {
    justify-content: end;
  }

  #projects ul {
    justify-content: end;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}
